.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect


data/~$*
R/private_info.R
R/pers_*
#data/photos/*
*.JPG
!crossing_all.JPG
!*_k*
#!*_k_*
*.gpkg-wal
*.gpkg-shm
#data/raw_input
#docs/Elk.pdf
#docs/Elk.tex
#Elk.html
Elk.Rmd
*~$*
